<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Timestamp Microservice </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center mt-2">
                <h1> API Basejump: Timestamp microservice </h1>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h5> User stories: </h5>
                    <ul class="list-group">
                        <li class="list-group-item"> I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016) </li>
                        <li class="list-group-item">  If it does, it returns both the Unix timestamp and the natural language form of that date. </li>
                        <li class="list-group-item">  If it does not contain a date or Unix timestamp, it returns null for those properties. </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="row col-12 mb-2">
                    <h3> Example usage: </h3>
                </div>
                <div class="row col-12 mb-3">
                    <code> https://warm-dusk-88466.herokuapp.com/January1,2016 </code>
                </div>
                <div class="row col-12 ">
                    <code> https://warm-dusk-88466.herokuapp.com/1450137600 </code>
                </div>
            </div>
            <div class="row mt-5">
                <div class="row col-12 mb-3">
                    <h3> Example output: </h3>
                </div>
                <div class="row col-12 ">
                    <code> { "unix": 1450137600, "natural": "December 15, 2015" } </code>
                </div>
            </div>
        </div>
    </body>
</html>